.title {
  padding: .1rem .05rem;
}
.title p {
  background-color: #eee;
  font-size: .22rem;
  color: #874604;
  border: 1px solid #ccc;
  padding: .1rem;
  line-height: .4rem;
}
.content {
  width: 100%;
  border-radius: .1rem;
  background-color: #ededed;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.content ul li {
  padding: .1rem;
  border-bottom: 1px solid #ccc;
  background: url(../images/arrow1-down.gif) right no-repeat;
  line-height: .45rem;
}
.content ul li a {
  font-size: .24rem;
  font-weight: 700;
}
