.title p {
  background-color: #eee;
  font-size: .22rem;
  color: #874604;
  border-bottom: 1px solid #ccc;
  padding: .1rem;
  line-height: .4rem;
}
/*排行标题*/
.mm-brandTitle .content li {
  background-color: #fff;
  padding: .15rem;
  border-bottom: 1px solid #ccc;
  background: url(../images/arrow-right.svg) right no-repeat;
  background-size: 5%;
}
.mm-brandTitle .content li a {
  color: #333;
}
.mm-brandTitle .content li a .box {
  float: left;
  width: .3rem;
  height: .3rem;
  text-align: center;
  line-height: .3rem;
  background-color: #999;
  color: #fff;
}
.mm-brandTitle .content li a .right {
  overflow: hidden;
  padding-left: .2rem;
}
.mm-brandTitle .content li a .right p {
  font-size: .24rem;
  color: #333;
}
.mm-brandTitle .content li a .right .desc span {
  font-size: .18rem;
  color: #aaa;
}
.mm-brandTitle .content li:nth-child(1) .box {
  background-color: red;
}
.mm-brandTitle .content li:nth-child(2) .box {
  background-color: orange;
}
.mm-brandTitle .content li:nth-child(3) .box {
  background-color: greenyellow;
}
/*产品列表*/
.mm-brandProduct li {
  padding: .25rem;
  border-bottom: 1px solid #f1f1f1;
}
.mm-brandProduct li .img {
  float: left;
  margin-right: .2rem;
}
.mm-brandProduct li .img img {
  width: .1.5rem;
  height: 1.5rem;
}
.mm-brandProduct li .right {
  overflow: hidden;
}
.mm-brandProduct li .right .ten-title {
  height: .5rem;
}
.mm-brandProduct li .right .ten-title p {
  height: .5rem;
  font-size: .2rem;
}
.mm-brandProduct li .right .desc {
  margin-top: .15rem;
}
.mm-brandProduct li .right .desc span {
  color: #ea3900;
  position: relative;
}
.mm-brandProduct li .right .desc p > span {
  color: #a1a1a1;
  font-size: .16rem;
}
span.star {
  display: block;
  width: 1.2rem;
  height: .25rem;
  background: url(../images/star.svg) repeat-x;
  background-size: 20% 100%;
}
/*评论*/
.comlist li {
  padding: .1rem;
}
.comlist li .comtop {
  padding: .1rem;
  height: 1.5rem;
}
.comlist li .comtop img {
  float: left;
  width: 1.2rem;
  height: 1.2rem;
}
.comlist li .comtop p {
  overflow: hidden;
  font-size: .2rem;
  color: #999;
  padding-left: .2rem;
}
.comlist li .comcontent {
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  padding: .2rem;
  position: relative;
}
.comlist li .comcontent::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  top: -0.17rem;
  left: .2rem;
  border-bottom: .16rem solid #ccc;
  border-left: .14rem solid transparent;
  border-right: .14rem solid transparent;
}
.comlist li .comcontent::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  top: -0.16rem;
  left: 0.22rem;
  border-bottom: .16rem solid #f8f8f8;
  border-left: .12rem solid transparent;
  border-right: .12rem solid transparent;
}
.comlist li .comcontent .user span {
  font-size: .18rem;
  color: #666;
}
.comlist li .comcontent .text {
  font-size: .2rem;
  margin-top: .2rem;
}
.m_10 {
  margin-right: .1rem;
}
