.mm-list {
  padding: .24rem .96rem .4rem;
}
.mm-list .nav-box {
  float: left;
  line-height: .5rem;
  background-color: #eee;
  border: 1px solid #ccc;
  margin: 0 .1rem .1rem 0;
  padding: .05rem;
}
.mm-list .nav-box img {
  width: .2rem;
  height: .2rem;
  margin-top: .1rem;
}
.mm-list .nav-box span {
  font-size: .28rem;
  margin: 0 .1rem 0 .1rem;
}
